---
import Layout from '../layouts/Layout.astro';

import Hero from '@/components/Hero.astro'
import About from '@/components/About.astro'
import Experience from '@/components/Experience.astro'
import Skills from '@/components/Skills.astro'
import Projects from '@/components/Projects.astro'
---

<Layout title="Enrique Octavio González">
	<main class="sm:my-16 my-10 mx-5">
		<Hero />
		<About />
		<Experience />
		<Skills />
		<Projects />
	</main>
</Layout>
