---
import Section from "./Section.astro";

import { projects } from '@cv';
---

<Section title="Poryectos">
  <ul class="grid sm:grid-cols-2 gap-4 mt-4">
    {projects.map(({ name, description, technologies, url }) => {
      return (
        <li class="p-4 border border-gray-200 rounded-lg">
          <h4 class="flex items-center gap-2"><a class="text-lg font-semibold text-gray-900 hover:underline duration-200" href={ url }>{name}</a> <div class="rounded-full h-2 w-2 bg-green-500"></div></h4>
          <p class="text-xs pt-2">{description}</p>
          <ul class="flex gap-1 pt-2 flex-wrap">
            {technologies.map(technologie => (
              <li class="text-xs px-2 py-1 bg-gray-200 rounded-lg text-gray-800 cursor-pointer ">{technologie}</li>
            ))}
          </ul>
        </li>
      )})}
  </ul>
</Section>

